Designer/Xsd/TextureCubeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="TextureCubeSchema"
    targetNamespace="http://tempuri.org/TextureCubeSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/TextureCubeSchema.xsd"
    xmlns:mstns="http://tempuri.org/TextureCubeSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:complexType name="CubeFace">
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:element name="cubemap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="face" type="CubeFace" minOccurs="6" maxOccurs="6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
